@font-face {
    font-family: GillSansMTCondBold;
    src: url(GillSansMTCondensedBold.ttf);
}

@font-face {
    font-family: GillSansMTCond;
    src: url(GillSansStd-Condensed.otf);
}

.container-fluid {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 40px;
}

#firstColumn{
    padding-left: 40px;
    padding-right: 10px;
}

#secondColumn .col-sm-3 {
    padding-left: 0px;
    padding-right: 0px;   
}

#secondColumn .title {
    text-align: center;
    margin-bottom: 20px;
}

#fourthColumn {
    padding-left: 0px;
}

.title {
    font-family: GillSansMTCondBold;
    font-size: 50px;    
    color: red;
    line-height: 80%;
    padding-bottom: 5px;
    margin-top: 5px;
}

.product{
    line-height: 325%;          
}

.name {
    font-family: GillSansMTCond;
    font-size: 45px;   
    color: black;
    line-height: 0px;                  
}

.price {
    font-family: GillSansMTCond;
    font-size: 35px;   
    color: rgb(128,128,128);
    padding-left: 10px;
    line-height: 0px;                      
}
.price2 {
    font-family: GillSansMTCond;
    font-size: 35px;   
    padding-left: 10px;
    line-height: 0px;                      
}

.carousel-caption {
    animation: breathing 3.5s ease-out infinite normal;
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}



.promo {
    width: 230px;
    height: 150px;
    display: block;    
    margin: auto;
}

#smallRow {
    margin-left: 16% !important;
    width: 100%;
}

#smallRow .col-sm-3 {
    margin-left: 4px; 
    margin-right: 4px; 
}

.text_over_image {
    font-family: GillSansMTCond;
    font-size: 40px;
    color: white;    
    position: absolute;
    text-align: center;
    margin-top: 18%;
    line-height: 70%;                      
    width: 100%;
}

.price_over_image {
    font-family: GillSansMTCondBold;
    font-size: 90px;
    color: red;    
    text-align: center;
    text-shadow: none;

}
.price_over_image2 {
    font-family: GillSansMTCondBold;
    font-size: 60px;
    color: red;    
    text-align: center;
    text-shadow: none;

}

.carousel-caption {
    padding-bottom: 0px;
}

.spacer {
    height: 30px;
}

#promo0 .price_over_image {
    animation: fontGrowth .75s infinite alternate;
}

@keyframes fontGrowth {
    0% {
        font-size: 45px;        
    }
    100% {
        font-size: 55px;                
    }
}

#promo0 {
    animation: divGrowth .5s infinite alternate;
}

@keyframes divGrowth {
    0% {
        width: 240px;
        height: 150px; 
        padding-top: 0px; 
    }
    100% {

        width: 210px;
        height: 140px; 
        padding-top: 5px;       
    }
}

#promo0 { 
    animation: rotateRight .5s infinite alternate; 
    animation-timing-function: linear;    
}

@keyframes rotateRight{
    0%{ 
        transform:rotate(-5deg); 
    }    
    100%{ 
        transform:rotate(5deg); 
    }    
}

.right.carousel-control, .left.carousel-control {
    display: none;
}